/* App Main Styles */

/* Block: App Main */
.app-main {
  flex: 1;
  overflow-y: auto;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  padding: 0 8px;
}
