/* -----------------------------------------------------------------------
   GridItem
----------------------------------------------------------------------- */

/* Column span presets */
.mp-grid-item--col-span-1 {
  grid-column: span 1;
}

.mp-grid-item--col-span-2 {
  grid-column: span 2;
}

.mp-grid-item--col-span-3 {
  grid-column: span 3;
}

.mp-grid-item--col-span-4 {
  grid-column: span 4;
}

.mp-grid-item--col-span-5 {
  grid-column: span 5;
}

.mp-grid-item--col-span-6 {
  grid-column: span 6;
}

.mp-grid-item--col-span-7 {
  grid-column: span 7;
}

.mp-grid-item--col-span-8 {
  grid-column: span 8;
}

.mp-grid-item--col-span-9 {
  grid-column: span 9;
}

.mp-grid-item--col-span-10 {
  grid-column: span 10;
}

.mp-grid-item--col-span-11 {
  grid-column: span 11;
}

.mp-grid-item--col-span-12 {
  grid-column: span 12;
}

.mp-grid-item--col-span-full {
  grid-column: 1 / -1;
}

/* Row span presets */
.mp-grid-item--row-span-1 {
  grid-row: span 1;
}

.mp-grid-item--row-span-2 {
  grid-row: span 2;
}

.mp-grid-item--row-span-3 {
  grid-row: span 3;
}

.mp-grid-item--row-span-4 {
  grid-row: span 4;
}

.mp-grid-item--row-span-5 {
  grid-row: span 5;
}

.mp-grid-item--row-span-6 {
  grid-row: span 6;
}
