/* Sidebar Toggle Styles */

/* Element: Toggle Button */

.mp-sidebar__toggle-wrapper {
  display: flex;
  padding: var(--mp-spacing-2);

  align-items: center;
  justify-content: flex-end;
  /* background-color: var(--mp-color-background); */
  color: var(--mp-color-primary);
}
.mp-sidebar--collapsed .mp-sidebar__toggle-wrapper {
  justify-content: center;
}

.mp-sidebar__toggle {
  width: var(--sidebar-item-height);
  height: var(--sidebar-item-height);
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  cursor: pointer;
  border: 1px solid var(--mp-color-primary);
  border-radius: var(--mp-radius-md);
  transition: all var(--duration-200) var(--ease-in-out);
  flex-shrink: 0;
  align-self: flex-start;
  color: var(--mp-color-primary);
}

.mp-sidebar__toggle:hover {
  background-color: var(--mp-color-primary-light);
  border-color: var(--mp-color-primary-light);
  box-shadow: var(--shadow-sm);
  color: var(--mp-color-primary);
}

.mp-sidebar__toggle:active {
  transform: scale(0.95);
}

.mp-sidebar__toggle:focus-visible {
  outline: var(--mp-focus-size) solid var(--mp-focus-color);
  outline-offset: var(--mp-focus-offset);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .mp-sidebar__toggle {
    display: flex;
  }
}
